<div class="row panel" id="panel_1">
  <div class="head_menu row">
  	<div class="offset10 span1">
  		Login
  	</div>
  </div>
  <div class="title row">
    <div class="title brand">
      <%= image_tag "logo-header.png", :title => "uSnap.us" %>
    </div>
  </div>
  <div class="row subtitle">
  	Let your guests capture your wedding, party or conference & see it unfold live.
  </div>
  <div class="row items">
  <div class="span4">
  	<div class="row dot">
  	</div>
  	<div class="row item_title">
  		Create an event
  	</div>
  	<div class="row item_description">
  		Sign up to add your event,<br/>
  		invite guests to get the App. 
  	</div>
  </div>
  <div class="span4">
  		<div class="row dot">
  	</div>
  	<div class="row item_title">
  		Guests snap pics
  	</div>
  	<div class="row item_description">
  		Their photos are instantly<br/>
  		shared with you.
  	</div>
  </div>
  <div class="span4">
  		<div class="row dot">
  	</div>
  	<div class="row item_title">
  		See it unfold live
  	</div>
  	<div class="row item_description">
  		Watch photos appear in real time,<br/>
  		revisit them whenever you like.
  	</div>
  </div>
</div>
</div> 
<div class="row panel" id="panel_2">
	<div class="span6">
		<%= image_tag "phones.png", :title => "uSnap.us app" %>
	</div>
	<div class="span6 points">
		<div class="row header">
			Pics from all your guests
		</div>
		<div class="row description">
			Using the free app, pics snapped by your guests are instantly shared with you the moment theyre taken.
		</div>
		<div class="row header">
			Just point and shoot
		</div>
		<div class="row description">
			Guests don’t need to create accounts or login, their phone simply uses its location to place them at your event. Just open the app and start snapping.
		</div>

	</div>
	</div>


<div class="row panel" id="panel_3">
	
	<div class="span6 points">
		<div class="row header">
			Pics from all your guests
		</div>
		<div class="row description">
			Using the free app, pics snapped by your guests are instantly shared with you the moment theyre taken.
		</div>
		<div class="row header">
			Just point and shoot
		</div>
		<div class="row description">
			Guests don’t need to create accounts or login, their phone simply uses its location to place them at your event. Just open the app and start snapping.
		</div>

	</div>
	<div class="span6">
		<%= image_tag "phones.png", :title => "uSnap.us app" %>
	</div>
	</div>

  