<% @title = "uSnap.us Privacy Policy" %>

<section class="container">
  <div class="row">
    <div class="span8 offset2">
      <h1><%= @title %></h1>
      <h2>Purpose</h2>
      <p>The purpose of this privacy policy is to let users of uSnap.us (the 'Site') know when we collect personal information and what we do with it. We do not use, share or transfer personal information except as set out in this policy.</p>
      
      <h2>Collection, storage and use</h2>
     	<h4>No need to disclose personal information</h4>
      <p>The Site can be viewed without the need to disclose any personal information to us.</p>
    	
    	<h4>Your disclosure of personal information</h4>
      <p>You may decide to disclose personal information to us by providing identifying information when:
        <ol>
        	<li>subscribing to Site updates by email</p>
        	<li>obtaining a logon to the Site</p>
        	<li>adding comments, posts or other material to the Site</p>
        	<li>ordering services from the Site</p>
        	<li>seeking information from or via the Site</p>
        	<li>providing feedback on the Site or our organisation</p>
        </ol>
      </p>
      <p>This information will be viewable by certain members of our staff. To the extent that it forms part of material that you have submitted to be published, it may also be viewable by members of the public.</p>
      
    	<h4>Holding of information</h4>
      <p>Personal information that you provide will be held by uSnap.us Limited. In addition, email addresses will be held by a third party service that processes our email notifications.</p>
    	
    	<h4>Use of personal information</h4>
      <p>We will only use personal information provided to us for the following purposes:
        <ol>
        	<li>to provide services offered by this Site</p>
        	<li>to enable users to collaborate and share information</p>
        	<li>to administer and evaluate this Site</p>
        	<li>to improve the organisation's services</p>
        	<li>to communicate with users of the Site</p>
        </ol>
      </p>
    	<h4>Commercial communications</h4>
      <p>We may send occasional emails to you in relation to our current or future services. By agreeing to the terms of this privacy policy, you consent to our sending such emails to you. Any such emails will contain a functional unsubscribe facility, enabling you to opt-out of such messages at any time.</p>
    
      <h2>Statistical information and cookies</h2>
    	
    	<h4>Statistical information</h4>
      <p>We may collect statistical information about your visit to help us analyse usage of, and improve, the Site. This information includes:
      <ol>
      	<li>users' IP addresses</p>
      	<li>pages accessed on the Site</p>
      	<li>links that are clicked on</p>
      	<li>date and time of Site visits</p>
      	<li>previous visited site</p>
      	<li>users' operating systems</p>
      	<li>browsers used when accessing the Site</p>
      </ol>
      </p>
      <h4>Third-party statistical information</h4>
      <p>
        Google Analytics is a web analysis service supplied by Google, Inc. ("Google"), which uses "cookies" to collect Users’ Personal Data which are forwarded to, and deposited on, Google's servers in the United States. Google uses the Data collected to (i) track and examine the Website’s usage, (ii) prepare reports on the Website’s activities for the website managers and (iii) supply other optional services. Google may use the Data collected to carry out behavioral targeting of the Site’s Users. Google does not associate the user's IP address with any other information in Google's possession. Any refusal to utilize the cookies, by selecting the appropriate setup on your browser, may prevent the use of some functions of this Website.</p>
      <p>Place of Data Processing: USA More information:</p>
      <p><%= link_to "http://www.google.com/intl/en/analytics/privacyoverview.html" %></p>
      <p>Personal data including Cookie and IP are collected.</p>
    	
    	<h4>Cookies</h4>
      <p>This Site generates cookies for all visitors. The cookies, which can be found on your computer, are named _usnapus_session.</p>
    	
    	<h4>Self access and correction</h4>
      <p>Registered members are able to access and change their membership details (name, email address and contact details) by logging in and clicking on the 'My account' link.</p>
    
      <h2>Rights of access and correction</h2>
    	<h4>Your rights</h4>
      <p>You have the right to access and to request correction of any of your personal information provided to us in connection with your use of this Site. If you would like to see the personal information relating to you that we have stored, or to request correction of such personal information, or if you have any concerns regarding your privacy, please contact us by any of the means set out below. We may require proof of your identity before being able to provide you with any personal information.</p>
      <pre>
        
        Owen Evans
        owen@usnap.us
        
        021 2014594
        
        uSnap.us Limited,
        36 Sunbrae Drive, 
        Silverstream, 
        Upper Hutt, 
        New Zealand
      </pre>
    	
      <h4>Privacy Commissioner</h4>
      <p>If you are not satisfied with our response to any privacy-related concern you may have, you can contact the Privacy Commissioner:</p>
      <pre>
        
      Office of the Privacy Commissioner
      PO Box 10-094
      Wellington, New Zealand
      Phone: +64-4-474 7590
      Enquiries Line (from Auckland): 302 8655
      Enquiries Line (from outside Auckland): 0800 803 909
      Fax: +64-4-474 7595
      Email: enquires@privacy.org.nz
      </pre>
    </div>
  </div>
</section>