<% @title = "uSnap.us Terms of Use" %>

<section class="container">
  <div class="row">
    <div class="span8 offset2">
      <h1><%= @title %></h1>
      <h2>Agreement to terms</h2>
      <p>Welcome to uSnap.us (the 'Site'), a website hosted and operated by uSnap.us Limited ('we', 'our', 'us', 'USL'), 36 Sunbrae Drive, Silverstream, Upper Hutt, New Zealand.</p> 
      <p>These terms apply to the entire contents of the Site. By viewing and using the Site, you will be deemed to agree to these terms.</p>

      <h2>Intellectual property rights</h2>

      <h4>Copyright</h4>
      <p>
      By entering or uploading information, data, text, music, sound, photographs, graphics, video, messages or other materials ("Content") to the site you grant USL the world-wide, royalty free and non-exclusive license to reproduce, modify, adapt and publish such Content on the Site solely for the purpose of displaying, distributing and promoting the specific uSnap.us Event to which such Content was submitted. This license exists only for as long as you elect to continue to include such Content on the Site and shall be terminated at the time you delete such Content from the Site.
      </p>
	
      <h4>Your use of third party material in your contributions</h4>
      <p>If your contributions to the Site include material in which copyright or other intellectual property is owned by a third party, you warrant that you have the right to reproduce that material by submitting it to us for publication on this Site and having it published on this Site. Without limitation to any other provision of these terms of use, you agree to indemnify and hold us harmless for any loss, liability, claim, demand, damage or expense (including all legal fees on a solicitor-client basis) arising out of a breach of that warranty.</p>

      <h2>Security</h2>

      <h4>Logons</h4>
      <p>You are required to obtain a logon – email address and password – before being able to enjoy certain features of this website. You must take good care of your logon and keep it secure.</p>

      <h4>Taking care with passwords</h4>
      <p>You must take reasonable care to:
      <ol>
      	<li>choose a password that is a secret known only to you which cannot be easily guessed;</li>
      	<li>not disclose your password to anyone;</li>
      	<li>not allow anyone to see your password or have the opportunity to see it or record it when you enter it on a computer; and</li>
      	<li>change your password at regular intervals.</li>
      </ol>
      </p>

      <h4>Compromise of passwords</h4>
      <p>You must immediately change your password and notify us if:
      <ol>
      	<li>you believe the secrecy of your password has been compromised; or</li>
      	<li>you become aware of any unauthorised use of your username or password.</li>
      </ol>
      </p>

      <h4>Improper use of logons</h4>
      <p>You agree that you will:
      <ol>
      	<li>not knowingly or recklessly use or attempt to use your logon for a purpose for which it was not intended, including any unlawful purpose; and</li>
      	<li>notify us if you know or have reason to believe that there has been or is about to be fraudulent or other unlawful use of your logon.</li>
      </ol>
      </p>


      <h4>Effect of using logon</h4>
      <p>You agree that we are entitled to rely on the authenticity and authority of your username and password to process actions or requests you submit to this website and that we may do so without further enquiry.</p>

      <h4>Suspension of services</h4>
      <p>We may suspend or disable your logon, ability to upload via the uSnap.us app on a mobile device, or ability to upload via electronic messages if:
      <ol>
      	<li>doing so is considered necessary to protect the security of this website, our services or any person; or</li>
      	<li>your logon, device, or email address is being misused or has otherwise been compromised; or</li>
      	<li>you breach these terms of use.</li>
      </ol>
      </p>


      <h2>Payments</h2>

      <h4>Currency</h4>
      <p>All monetary values displayed are in United States Dollars</p>
      
      <h4>Payment Method</h4>
      <p>When your payment is required an invoice will be sent via electronic message to the email address used to create your logon. Payment is required within 30 days of sending the invoice.</p>
      <p>The name "uSnap.us Limited" will appear on cardholder statements for any transactions through the Site.</p>
	
      <h4>Refunds</h4>
      <p>No refunds will be given for payments already processed.</p>

      <h4>Suspension</h4>
      <p>Where payment cannot be processed for whatever reason, your account may be suspended until payment is made. We will make all reasonable efforts to process the payment and to contact you in advance of suspension.</p>
	
      <h2>Content</h2>

      <h4>Unacceptable use</h4>
      <p>You are prohibited from posting or transmitting to or from the Site any material that is illegal, obscene, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or otherwise injurious or objectionable.</p>

      <h4>Co-operation with authorities</h4><p>We will co-operate fully with any law enforcement authorities or court order requesting or directing us to disclose the identity or locate anyone posting any material in breach of the previous clause.</p>

      <h2>Moderation</h2>

      <h4>Post-publication moderation</h4>

      <p>Contributions to the Site may be moderated by one or more moderators after being published. Those moderators may remove or modify contributions if they are considered to be contrary to the 'Unacceptable use' provision above or irrelevant to the subject-matter of the Site.</p>

      <h2>Indemnification</h2>
      <h4>Indemnity</h4><p>You agree to indemnify and hold us harmless for any loss, liability, claim, demand, damage or expense (including all legal fees on a solicitor-client basis) arising directly or indirectly from your breach of these terms of use.</p>

      <h2>Disclaimers</h2>
      <h4>Exclusion of liability</h4><p>We disclaim and exclude all liability for any claim, loss, demand or damages of any kind whatsoever (including for negligence) arising out of or in connection with the use of either this Site or the information, content or materials included on this Site or on any website to which it is linked.</p>

      <h4>Links</h4>
      <p>The inclusion of links to third party sites does not imply any endorsement of the linked website or its content or provider.</p>

      <h4>No liability for disruption or corruption</h4>
      <p>We will not be responsible for any disruption to this Site or for loss or corruption of any information whilst in transit or when downloaded onto any computer system from this Site.</p>

      <h2>Privacy</h2>

      <h4>Agreement to privacy statement</h4>

      <p>Our treatment of your personal information is described in our privacy statement. In agreeing to these terms of use or using our website, you will be taken to have read and agreed to the terms of that privacy statement.</p>
  
      <h2>Miscellaneous</h2>

      <h4>Severability</h4>
      <p>If any provision of these Terms of use or its application to any person or circumstances is, to any extent, held to be invalid, illegal or unenforceable for any reason by any court or tribunal of competent jurisdiction:
      <ol>
      	<li>such provision will continue to apply, to the maximum extent permitted by law, to other persons or circumstances not affected by the invalidity, illegality or unenforceability;</li>
      	<li>the invalid, illegal or unenforceable provision will be deemed to be amended to reflect the original intention (as determined from this Site) as nearly as possible in accordance with applicable law in respect of those persons or circumstances giving rise to the invalidity, illegality or unenforceability; and</li>
      	<li>the remainder of these Terms of use shall continue in full force and effect.</li>
      </ol>
      </p>

      <h4>Revisions to terms</h4>
      <p>We may revise these Terms of use at any time. Any such revisions will take effect once notified through a post or other announcement on the site detailing the respect(s) in which the Terms have changed.</p>
      <h4>Contact Details</h4>
      <pre>
        
        Owen Evans
        owen@usnap.us
        
        021 2014594
        
        uSnap.us Limited,
        36 Sunbrae Drive, 
        Silverstream, 
        Upper Hutt, 
        New Zealand
      </pre>
    </div>
  </div>
</section>