<section class="container">
  <div class="row span12">
    
    <%= form_for Event.new, html: {class: "new_event event span4"} do |f| %>
      <div class="container">
        <h2>Your Event</h2>
        <div id="float_over_google_map">
          <%= f.text_field :location, "placeholder" => "Where's your event?" %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
        </div>
        <div id="google_map">
        </div>
      </div>
    <% end %>
    
  </div>
</section>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>