<!DOCTYPE html>
<html>
<head>
	<title>PhotoSwipe</title>
	<meta name="author" content="Ste Brennan - Code Computerlove - http://www.codecomputerlove.com/" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<%= stylesheet_link_tag "photoswipe" %>
	
	<%= javascript_include_tag "klass.min", "jquery", "code.photoswipe.jquery-3.0.4" %>
	
	<script type="text/javascript">

    (function(window, $, PhotoSwipe){
			
			$(document).ready(function(){
				
				var photos = [
    		  { 
    		    url: 'https://usnapus-dev.s3.amazonaws.com/events/BAHMEY9/photos/17/fb2.jpeg', 
    		    caption: 'Image 001'
    		  },
    		  { 
    		    url: 'https://usnapus-dev.s3.amazonaws.com/events/BAHMEY9/photos/18/fb1.jpg', 
    		    caption: 'Image 002'
    		  },
    		  {
  				  url: "http://usnapus-dev.s3.amazonaws.com/events/BAHMEY9/photos/19/fb3.jpeg",
  				  caption: 'New Image'
  				}
    		]
				
				// var photoSwipeInstance = Code.PhotoSwipe.instances[0];
				//         image={url: 'http://usnapus.s3.amazonaws.com/events/WEBSTOCK/photos/46/photo.jpg', caption: 'Image 046'}
				//         src = photoSwipeInstance.settings.getImageSource(image);
				//         caption = photoSwipeInstance.settings.getImageCaption(image);
				//         metaData = photoSwipeInstance.settings.getImageMetaData(image);
				//         photoSwipeInstance.cache.images.push(new Code.PhotoSwipe.Image.ImageClass(image, src, caption, metaData));
				
			  var options = {
    	    preventHide: true,
          getImageSource: function(obj){
            return obj.url;
          },
          getImageCaption: function(obj){
            return obj.caption;
          },
          autoStartSlideshow: true,
          loop: true,
          slideshowDelay: 5000,
        }
        
				instance = PhotoSwipe.attach(photos, options);
				instance.show(0);
			
			});
			
			
		}(window, window.jQuery, window.Code.PhotoSwipe));
	</script>
	
</head>
<body>
<div id="gallery"></div>

</body>
</html>
