<!DOCTYPE html>
<html>
<head>
	<title>PhotoSwipe</title>
	<meta name="author" content="Ste Brennan - Code Computerlove - http://www.codecomputerlove.com/" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<%= stylesheet_link_tag "photoswipe" %>
	
	<%= javascript_include_tag "klass.min", "jquery", "code.photoswipe.jquery-3.0.4", "photos", "photocast" %>
	
</head>
<body>
<div id="gallery" data-event-url="<%= event_photos_url @event %>"></div>

</body>
</html>
