<!DOCTYPE html>
<html>
<head>
	<title>PhotoSwipe</title>
	<meta name="author" content="Ste Brennan - Code Computerlove - http://www.codecomputerlove.com/" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<%= stylesheet_link_tag "photoswipe" %>
	
	<%= javascript_include_tag "klass.min", "jquery", "code.photoswipe.jquery-3.0.4" %>
	
	
	<script type="text/javascript">

		$(document).ready(function(){
			
				var options = {
					preventHide: true,
					getImageSource: function(obj){
						return obj.url;
					},
					getImageCaption: function(obj){
						return obj.caption;
					}
				}
				$("#gallery").photoSwipe( 
					[
						{ url: 'https://usnapus-dev.s3.amazonaws.com/events//photos/11/fb2.jpg', caption: 'Image 001'},
						{ url: 'https://usnapus-dev.s3.amazonaws.com/events//photos/10/fb1.jpg', caption: 'Image 002'}
					], 
					options 
				);
				
			});
		
	</script>
	
</head>
<body>
<div id="gallery"></div>

</body>
</html>
