<h1>Photos</h1>

<div class="container-fluid gallery">
  <% photo = @photos.first %>
  <div class="row">
    <% 30.times do |i| %>
      <div class="span4">
        <a>
          <%= image_tag photo.photo_url("polaroid")  %>
        </a>
      </div>
    <% end %>
  </div>
</div>