<h1>Photos</h1>

<div class="container-fluid gallery">
  <div class="row" id="photo_gallery">
  </div>
</div>

<div class="fade"></div>

<script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">
    var pusher = new Pusher('2e4efb9ca1181106d096');
    
    pusher.connection.bind("unavailable", function(){
      showAlert("error", "Oops!", "It looks like we can't grab any new photos right now. We'll try again soon.");
      
      
      pusher.connection.bind("connecting_in", function(delay){
        showAlert("information", "Reconnecting", "uSnap.us will try to reconnect in "+delay+" seconds.")
      });
    });
    
    
    pusher.connection.bind("failed", function(){
      showAlert("error", "Oops!", "It looks like your browser doesn't support uSnap.us fetching photos on the fly. You can see new photos by refreshing your browser.");
    });
    
    
    var channel = pusher.subscribe('<%= "event-#{@event.id}-photocast" %>');
    channel.bind('new_photo', function(data) {
      appendPhoto(data);
    });
</script>

<script type="text/html" id="gallery_photo_template">
  <div class="span4 photo" id="photo_{{id}}">
  {{#photo}}
    <a href="{{base_src}}" title="Photo taken by {{alt}}. Click to view original.">
      <img src="{{smaller_src}}" alt="Photo taken by {{alt}}" />
    </a>
  {{/photo}}
  </div>
</script>