$border_blue:#c9ddf2;
$dark_blue: #36536C;
$med_blue: #7798B4;
$background_blue: #BBCDDE;
$black: #171c1e;
$red: #b94a48;
$form_blue:#eaf3fc;
$form_drop_shadow:RGBA(121,152,183,0.5);
$placeholderText:$border_blue;