/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require formtastic
 *= require bootstrap.min
 *= require modify_bootstrap
 *= require_self
 *= require signups
 *= require home
 *= require photos
 *= require events
*/

@import "configuration";
@import "_font_awesome";

body{
  font-family: "freight-sans-pro", arial, sans-serif;
  font-size: 16px;
  
  h1{
    font-weight: 600;
  }
  
  p{
    font-weight: 200;
  }
  
}

.brand{
  font-family: "bello-pro", arial, sans-serif;
  
  &:not(h1, h2, h3, h4){
    font-size: 150%;
    line-height: 150%;
  }
}
.shadow{
  -webkit-text-shadow: 0px 2px 1px rgba(00, 00, 00, 0.3);
          text-shadow: 0px 2px 1px rgba(00, 00, 00, 0.3);
}


.upcase{
  text-transform: uppercase;
}

.bold{
  font-weight: 500;
}

.alert{
  display: none;
  margin-bottom: 0;
}

.center{
  text-align: center;
}

.topbar{
  margin-bottom: 30px;
  
  .fill{
    height:78px;
    background-color: #5EE0AA;
    background: url(image-path('headerstrip.png')) repeat-x;
    filter:none;
    box-shadow:none;
    h1{
      margin-bottom: 0;
      padding: 12px 0 0 0;
    }
  }
  
  &.thin{
    .fill{
      height: 5px;
      .brand{
        display: none;
      }
      .settings{
        top: 40px;
      }
    }
    overflow: visible;
  }
}


.blue {
  background-color: $background_blue;
  .fill {
    background-image: none;
    .container{
      margin: 0 30px;
      .brand{
        text-align: left;
      }
    }
  }
}


.blackbg{
  background-color: $black;
}

.bottom_pad{
  padding-bottom: 30px;
}

.hidden{
  display: none;
}

.settings{
  position: absolute;
  right: 30px;
  top: 24px;
  z-index: 10;
  
  a.dropdown-toggle{
    font-size: 18px;
    line-height: 18px;
  }
}

.red, a.red, label.red{
  color: $red;
}

.dropdown-menu li > a.red:hover, .dropdown-menu .active > a.red, .dropdown-menu .active > a.red:hover{
  background-color: $red;
}

.box_shadow{
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.round{
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
          
  &.small{
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  }
}

.btn.btn-blue{
  color: #fff;
  text-shadow: 1px 1px 0px #aaa;
  filter: dropshadow(color=#aaa, offx=1, offy=1);
  
  border-color: #D2E3F4;
  border-bottom-color: #AFC8E4;
  
  background-color: #CADDF2;
  background-image: linear-gradient(bottom, #CADDF2 18%, #DFECF9 100%);
  background-image: -o-linear-gradient(bottom, #CADDF2 18%, #DFECF9 100%);
  background-image: -moz-linear-gradient(bottom, #CADDF2 18%, #DFECF9 100%);
  background-image: -webkit-linear-gradient(bottom, #CADDF2 18%, #DFECF9 100%);
  background-image: -ms-linear-gradient(bottom, #CADDF2 18%, #DFECF9 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.18, #CADDF2),
  	color-stop(1, #DFECF9)
  );
}

.btn.btn-green{
  color: #fff;
  text-shadow: 1px 1px 0px #aaa;
  filter: dropshadow(color=#aaa, offx=1, offy=1);

  border-color: #77D89A;
  border-bottom-color: #48AC6B;
  
  background-color: #6FCF91;
  background-image:         linear-gradient(bottom, #8FEAAF 18%, #6FCF91 100%);
  background-image:      -o-linear-gradient(bottom, #8FEAAF 18%, #6FCF91 100%);
  background-image:    -moz-linear-gradient(bottom, #8FEAAF 18%, #6FCF91 100%);
  background-image: -webkit-linear-gradient(bottom, #8FEAAF 18%, #6FCF91 100%);
  background-image:     -ms-linear-gradient(bottom, #8FEAAF 18%, #6FCF91 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.18, #6FCF91),
  	color-stop(1, #8FEAAF)
  );
}

.btn.btn-dark-blue{
  color: #fff;
  text-shadow: 0px 1px 0px #777;
  filter: dropshadow(color=#777, offx=0, offy=1);

  border-color: #6182A2;
  border-bottom-color: #2A425A;
  
  background-color: #517293;
  background-image:         linear-gradient(bottom, #517293 18%, #7897B6 100%);
  background-image:      -o-linear-gradient(bottom, #517293 18%, #7897B6 100%);
  background-image:    -moz-linear-gradient(bottom, #517293 18%, #7897B6 100%);
  background-image: -webkit-linear-gradient(bottom, #517293 18%, #7897B6 100%);
  background-image:     -ms-linear-gradient(bottom, #517293 18%, #7897B6 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.18, #517293),
  	color-stop(1, #7897B6)
  );
}

.btn.disabled:hover{
  background-position: 0;
}

.btn:hover{
  background-position: 0 -40px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: none;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

hr{
  border-bottom-color: $med_blue;
  border-bottom-color: rgba(119, 152, 180, 0.5);
  margin: 20px 0;
  @media all and (max-width: 480px){
    margin: 20px 0
  }
}

p.blue{
  color: $med_blue;
  background-color: transparent;
}