/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require formtastic
 *= require bootstrap.min
 *= require modify_bootstrap
 *= require_self
 *= require signups
 *= require home
 *= require photos
 *= require events
*/

@import "configuration";
@import "_font_awesome";

body{
  font-family: "freight-sans-pro", arial, sans-serif;
  font-size: 16px;
  
  h1{
    font-weight: 600;
  }
  
  p{
    font-weight: 200;
  }
  
}

.brand{
  font-family: "bello-pro", arial, sans-serif;
  font-size: 150%;
  line-height: 150%;
}

.upcase{
  text-transform: uppercase;
}

.bold{
  font-weight: 500;
}

.alert{
  display: none;
  margin-bottom: 0;
}

.center{
  text-align: center;
}

.topbar{
  margin-bottom: 30px;
  
  .fill{
    height:78px;
    background-color: #5EE0AA;
    background: url(image-path('headerstrip.png')) repeat-x;
    filter:none;
    box-shadow:none;
    h1{
      margin-bottom: 0;
      padding: 12px 0 0 0;
    }
  }
  
  &.thin{
    .fill{
      height: 5px;
      .brand{
        display: none;
      }
      .settings{
        top: 40px;
      }
    }
    overflow: visible;
  }
}

.blackbg{
  background-color: $black;
}

.bottom_pad{
  padding-bottom: 30px;
}

.hidden{
  display: none;
}

.settings{
  position: absolute;
  right: 30px;
  top: 24px;
  z-index: 10;
  
  a.dropdown-toggle{
    font-size: 18px;
    line-height: 18px;
  }
}

.red, a.red{
  color: $red;
}

.dropdown-menu li > a.red:hover, .dropdown-menu .active > a.red, .dropdown-menu .active > a.red:hover{
  background-color: $red;
}