// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "configuration";


body.home {
  background: #FBFCFF;
}

.overlay{
  position:absolute;
  z-index: 1;
  width: 100%;
  
  .navbar .nav{
    margin: 0;
    
    li > a{
      text-align: center;
      font-weight: 600;
      color: $med_blue;
      padding: 10px 15px;
      background-color: #fff;
      background-color: rgba(255,255,255,0.8);
      text-shadow: none;
      margin: 0 10px 10px 10px;
      
      -webkit-border-radius: 0 0 3px 3px;
         -moz-border-radius: 0 0 3px 3px;
              border-radius: 0 0 3px 3px;
      
      &:hover{
        background-color: #aaa;
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}

.photo_back {
  color: white;
  background-color: #bed2e5;
  background-image: url('photo_bg.jpg');
  @media (max-width: 768px) {
    background-image: url('photo_bg_768.jpg');
  }
  
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  
  .logo{
    font-size: 80px;
    margin: 80px 0 100px 0;
  }
  
  .brand{
    color: #fff;
    font-weight: normal;
  }
  
  p.subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
  }
  
  .items {
    padding-bottom: 60px;
    
    h2 {
      font-size: 34px;
    }
    
    p{
      font-weight: 400;
      margin-top: 30px;
      font-size: 20px;
      line-height: 25px;
    }
    
    .dot {
      margin-top: 20px;
      margin-bottom: 25px;
    }

  }
  
  .signup {
    
    margin: 60px 0;
    
    form{
      padding: 5px;
      background-color: rgba(255,255,255,0.65);
      display: inline-block;
      
      input{
        width: 190px;
        padding: 10px;
        margin: 5px 0 5px 5px;
        
        &:not([type='submit']){
          line-height: 20px;
          font-size: 15px;
        }
        &[type='submit']{
          margin-right: 5px;
        }
      }
      
      .btn{
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
      }
    }
  }

}

.panel{
  
  margin-top: 40px;
  margin-bottom: 40px;
  
  h2{
    color: $dark_blue;
    font-size: 200%;
    font-weight: normal;
    margin: 20px 0 20px 0;
    @media all and (max-width: 480px){
      text-align: center;
    }
    @media all and (min-width: 480px){
      margin-top: 90px;
    }
  }
  p{
    font-size: 18px;
    line-height: 120%;
    color: $med_blue;
    margin: 20px 0;
  }
  &.last a{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
  }
}

.footer {
  margin-bottom: 10px;
  font-size: 14px;
  a{
    margin: 0 20px;
  }
}
