// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #171c1e;
  text-align: center;
}

.topbar{
  .fill{
    background-color: #5EE0AA;
    background-image: none;
  }
}

.top_panel{
  background-color: #fcfdff;
}

.bottom_panel{
  color: #fff;
}