@import "configuration";
.landing_page .photo_back{
  background-color: #1C2228;
  background-image: url('bg-header.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  padding-bottom:120px;
  padding-top:100px;
  
}

  .no_margin_top{
	margin-top:0px !important;
}
.no_margin_bottom{
	margin-bottom:0px;
}
.landing_page{
	.panel h2{
  	font-size:36px;
  }
h3.brand{
	font-family: "bello-pro", arial, sans-serif;
	font-size:26px;
	margin-top:30px;
}
.dot{
	margin-top:20px;
	height:105px;
}
p{
	line-height:160%;
	font-size:16px;
	margin-top:6px;
}
.no_bottom_padding{
     border-bottom-color: rgba(223, 234, 245, 1);
}
}
.logo.tight{
	margin-bottom:40px;
}
.panel h2.no_margin_top{
	margin-top:0px;
}
.panel h3{
	font-size:18px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#38536f;
}
.signup form.blue{
	background-color:#ecf3fa;
	input.text{
	color:$dark_blue;
	border-color:#c9daeb;
		 &::-webkit-input-placeholder {
             color: #a7c1dc;
              }
         &:-moz-placeholder {
              color: #a7c1dc;
           }
	}
}
span.blue{
	color:#38536f;
	background-color:#ecf3fa	;
	padding:5px;
}
span.currency{
	font-size:14px;
}
div.light_blue{
	border-top:1px solid #dfeaf5;
	border-bottom:1px solid #dfeaf5;;
	background-color:#edf3fa
}
div.features{
	padding-top:50px;
	padding-bottom:50px;
	.dot{
		margin-bottom:20px;
	}
}
p.quote.first{
	margin-top:50px;
}
p.quote{
	font-size:20px;
	margin-top:10px;
	margin-bottom:5px;
}
p.attrib{
	font-size:14px;
}
.dark_blue{
	background-color:#1c2228;
}
.footer p{
	font-size:14px;
	margin-bottom:25px;
	color:#dfeaf5;
	a{

	color:#abc4dd;
	}
}