// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "configuration";

.event_details{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
  p{
    color: $light_blue;
    font-size: 14px;
  }
  
  .buttons {
    padding: 10px;
      a{
      -webkit-border-radius: 20px;
         -moz-border-radius: 20px;
              border-radius: 20px;
      padding: 3px 15px;
      line-height: 20px;
      margin: 0 5px;
      border: 1px solid $light_blue;
      color: $light_blue;
    
      &:hover{
        text-decoration: none;
      }
    }
  }
  
  .event_name{
    font-size: 45px;
    line-height: 50px;
    padding: 10px 0;
    color: $dark_blue;
  }
  
}


.gallery{
  .photo{
    display: none;
    background-color: #000;
    width: 170px;
    height: 170px;
    margin: 1px;
    float: left;
  }
}

.branding_overlay{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2001;
  opacity: 0.75;
  &:hover{
    opacity: 1;
  }
}

.gallery_footer{
  background-color: #fff;
  border-top: 1px solid $light_blue;
  margin-top: 40px;
  padding: 20px 0;
  p{
    color: $light_blue;
    margin: 0;
    
    .brand{
      font-size: 18px;
    }
  }
}

.slideshow { list-style: none; padding: 0; margin: 0; }
.slideshow:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.slideshow li { float: left; width: 33.33333333%; }
.slideshow li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.slideshow li img { display: block; width: 100%; height: auto; }